/Java User Input and String Manipulation/nbproject/private/
/Java User Input and String Manipulation/build/
/JavaApplication4/nbproject/private/
/JavaApplication4/build/
/if_else/nbproject/private/
/if_else/build/
/else_if/nbproject/private/
/else_if/build/
/switch/nbproject/private/
/switch/build/
/JavaApplication8/nbproject/private/
/while/nbproject/private/
/while/build/
/do_while/nbproject/private/
/do_while/build/
/for_loop/nbproject/private/
/for_loop/build/
